<!-- Will only show if the errors array exists-->
<div class="form_container">
    <span>
        {{#if valid}}
        <div>
            <h3 style="color:red;">{{Message}}</h3>
        </div>

        <h2><span>Sign-in</span></h2>


        <form class="form" action="/sign-in" method="POST">
            <label for="email">Email</label>
            <input type="text" {{#if errorID.email}} class="error_redFrame" {{/if}} id="email" name="email"
                autocomplete="email"  value="{{data.email}}">
            <div class="warningMessage">{{error.email}}</div>

            <label for="password">Password</label>
            <input type="password" {{#if errorID.password}} class="error_redFrame" {{/if}} id="password" name="password"
                autocomplete="password"  value="{{data.password}}">
            <div class="warningMessage">{{error.password}}</div>
            <br>

            <p class="helperMessage"><a href="">Need help?</a></p>
            <input type="submit" id="submit" value="Sign-In">
        </form>
        {{else}}
        <div class=center>
            <h1>Welcome!</h1><br>
            <h1> {{data.email}}!</h1><br>
        </div>

        {{/if}}
    </span>

</div>