<div class="products">
    {{>sideBar}}
    <div class="item-search">

        <form class="ClerkSearch" action="/product/search" method="POST">
            <div class="SearchChoice">
                <span>
                    <label for="SearchChoice">Search By:&nbsp;</label>
                    <input list="product-search" id="SearchChoice" placeholder="RegExp or Pull-Down" name="search" value="">
                    <datalist id="product-search">
                        <option>All Products</option>
                        <option>By Category</option>
                        <option>E-Book</option>
                        <option>Book</option>
                        <option>Video-Audio</option>
                        <option>E-Video-Audio</option>
                        <option>Best Sellers</option>
                        <option>Promotion</option>
                    </datalist>
                    <button id="submit_ClerkSearch" type="submit">
                        <i class="fa fa-search"></i> </button>
                </span>
            </div>

            {{!-- <div class="OperationType">
                <span>
                    <label for="OperationTypeChoice">Action:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input list="OperationType" id="OperationTypeChoice" name="OperationType" value="">
                    <datalist id="OperationType">
                        <option>Only Search</option>
                        <option>Update One</option>
                        <option>Delete Searched</option>
                        <option>Delete One</option>
                    </datalist>
                    <input type="button" class="OperationType-button" value="Do">
                </span>
            </div> --}}

        </form>
        <br><br>

        <div class="items_products">

            {{#if isErrors}}
            <h1> {{errors}}</h1><br>
            {{/if}}

            {{#each category}}

            {{#if this.isCategory}}
            <a href="/product/{{this.category}}">
                <figure class="figure-category">
                    <img src="{{this.image}}" alt="">
                    <div> {{this.category}}</div><br>
                </figure>
            </a>
            {{else}}
            <a href="/order/detail/{{this._id}}">{{!--every product has itself link/route --}}
                <figure>
                    <div><img src="{{this.image}}" alt=""></div>
                    {{#if this.isCategory}}
                    <div> {{this.category}}</div><br>
                    {{else}}
                    <div>{{this.title}} </div>
                    <div>Author: {{this.author}} </div>
                    <div>Price: CAD {{this.price}}</div>
                    <div>Inventory: {{this.inventory}}</div>

                    {{#if this.promotion}}
                    <div style="color: deeppink;font-weight: bolder;">Discount: {{this.discount}} off</div>
                    {{else}}
                    <div style="color: rgb(0, 0, 0);font-weight: bolder;">Discount: Not available</div>
                    {{/if}}

                    <div><input type="checkbox" id="bestseller" name="bestseller" readonly="readonly"
                            {{this.bestseller}}>
                        <label for="bestseller">Best Seller</label></div><br>
                    {{/if}}
                </figure>
            </a>
            {{/if}}
            {{/each}}
        </div>

    </div>
</div>