<section class="product-list-container">
  <h2> Products in Cart </h2>
  {{#if message.error}}
    <div class="alert alert-danger" role="alert">{{message.error}}</div>
  </if>
  {{/if}}
  {{#each products}}
  <div class="product-card" id="{{this._id}}" style="width: 20rem;">
      <div class="product-images">
          <div id="{{this._id}}-carousel">
              {{#each this.images}}
                {{#if @first}}

                <img src="/images/products/{{this}}" class="activeimage">
                {{else}}
                <img src="/images/products/{{this}}" class="inactiveimage">
                {{/if}}
              {{/each}}
          </div>
          <a class="prev" onclick="prevSlide('{{this._id}}')">❮</a>
          <a class="next" onclick="plusSlides('{{this._id}}')">❯</a>
      </div>
      <div id="product-dots" class="product-slidedots">
          {{#each this.images}}
          <span class="dot" onclick="showSlides('{{../this._id}}',{{@index}})"></span>
          {{/each}}
      </div>
      <div class="product-details">
          <ul>
              <li>{{this.name}} - ${{this.price}}</li>
              <li class="itemDescription">{{this.description}}</li>
              {{#if this.bestseller}}
              <li>BestSeller</li>
              {{/if}}
          </ul>
      </div>
  </div>
  {{/each}}
</section>
<div class="container">
{{#if products.length}}
  <div class="checkout-btn-container">
    <button class="primary checkout-btn" onclick="window.location.href='/products/checkout?_method=DELETE';" style="text-align: center">Checkout</button>
  </div>
  {{else}}
    <div class="alert alert-warning" role="alert">Cart is empty.</div>
{{/if}}
</div>
