<section class="product-list-container">
  {{#each products}}
  <div class="product-card" id="{{this._id}}" style="width: 20rem;">
      <div class="product-images">
          <div id="{{this._id}}-carousel">
              {{#each this.images}}
                {{#if @first}}

                <img src="./images/products/{{this}}" class="activeimage">
                {{else}}
                <img src="./images/products/{{this}}" class="inactiveimage">
                {{/if}}
              {{/each}}
          </div>
          <a class="prev" onclick="prevSlide('{{this._id}}')">❮</a>
          <a class="next" onclick="plusSlides('{{this._id}}')">❯</a>
      </div>
      <div id="product-dots" class="product-slidedots">
          {{#each this.images}}
          <span class="dot" onclick="showSlides('{{../this._id}}',{{@index}})"></span>
          {{/each}}
      </div>
      <div class="product-details">
          <ul>
              <li>{{this.name}} - ${{this.price}}</li>
              <li class="itemDescription">{{this.description}}</li>
              {{#if this.bestseller}}
              <li>BestSeller</li>
              {{/if}}
          </ul>
      </div>
      {{#if ../user.isAdmin}}
      <div class="product-edit">
        <div class="product-edit-button-container">
          <span class="glyphicon glyphicon-edit glyphicon" />
          <a href="/products/edit/{{this._id}}" class="edit-delete-button">Edit</a>
        </div>
        <div class="product-edit-button-container">
          <span class="glyphicon glyphicon-trash glyphicon" />
          <a href="/products/delete/{{this._id}}?_method=DELETE" class="edit-delete-button">Delete</a>
        </div>
      </div>
      {{/if}}
  </div>
  {{/each}}
</section>
